*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #151618;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: text-top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	color: #151618;
	font-family: "Open Sans", "Helvetica Neue", Arial;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
}
/* ------------------------------------------------------------------------------ */

.wrapper {
	width: 100%;
	height: 100%;
}

/*! -------------------------------header----------------------------------------------- */

.header {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	background-color: #fff;
}

.header__container {
	width: 100%;
	max-width: 1232px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

/*! ====== burger ======= */
.header__burger {
	display: none;
}
.header__burger span {
	width: 40px;
	display: block;
	border: 1px solid black;
	margin-bottom: 4px;
}

.header__burger-menu {
	width: 100%;
	max-width: 360px;
	height: 691px;
	position: absolute;
	top: 0;
	left: 60px;
	background-color: #fff;
	display: none;
}

.header__burger-menu.active {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__burger-menu ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px 0;
	font-family: Cormorant;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 60px;
}
.header__burger-menu ul .header__burger-menu-clos {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.header__burger-menu ul .header__burger-menu-clos img {
	margin-top: 20px;
	margin-right: 20px;
}

.header__burger_menu-border {
	width: 300px;
	border: 1px solid #f7f2ea;
}
.header__burger_menu-foot {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 35px 0;
}
.header__burger_menu-foot a {
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 300;
}

.header__burger-icon {
	width: 100%;
	height: 60px;
	padding: 0 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f7f2ea;
}
/*todo -------------------------------------------------------- */

.header__logo {
	width: 73.33px;
	height: 105px;
	margin-right: 10px;
}
.header__logo a img {
	width: 100%;
	height: 100%;
}
.header__nav-menu ul {
	display: flex;
	gap: 0 70px;
	padding: 0 10px;
}
.header__icon {
	max-width: 180px;
	display: grid;
	grid-template-columns: 40px 100px 22px;
	padding-right: 10px;
}
.header__icon-karzina {
	width: 20px;
	height: 22px;
}
.header__icon-user {
	width: 18px;
	height: 22px;
}
.header__icon-search {
	width: 22px;
	height: 22px;
}

/*! ========== header bottom ============= */

.header__bottom {
	background-image: url(../img/header.jpeg);
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	min-height: 500px;
	margin-top: 200px;
}
.header__bottom-container {
	height: 100%;
	max-width: 1232px;
	padding: 0 15px;
	margin: 0 auto;
}
.header__bottom-container {
	width: 100%;
	height: 500px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.header__bottom-h1 {
	max-width: 790px;
	color: #ffffff;
	font-family: Cormorant;
	font-size: 60px;
	font-weight: 400;
	line-height: 100%;
	padding-bottom: 20px;
}
.header__bottom-text {
	max-width: 558px;
	color: #ffffff;
	font-family: Cormorant;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	padding-bottom: 50px;
}

/** =========  section1 ========== */

.main {
	background-color: #fff;
}
.section1 {
	font-family: Cormorant;
	font-size: 40px;
	font-weight: 300;
	line-height: 48px;
	color: #151618;
}
.section1__container {
	width: 100%;
	max-width: 1232px;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section1_p {
	max-width: 704px;
	width: 100%;
	height: 96px;
	text-align: center;
	margin: 150px 0;
}
.section1_h2 {
	font-weight: 400;
	margin-bottom: 60px;
}
.section1__bloc-tea {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 150px;
}
.section1-tea a p {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.section1-tea a img {
	width: 100%;
	height: 100%;
}

/** ========= section2 =========== */

.section2 {
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	background: rgba(247, 242, 234, 0.5);
}
.section2__container {
	width: 100%;
	max-width: 1232px;
	padding: 60px 15px;
	margin: 0 auto;
}
.section2__h2 {
	font-family: Cormorant;
	width: 329px;
	margin: 0 auto;
	margin-bottom: 60px;
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
}
.section2__bloc {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0 10px;
}
.section2__bloc-content p {
	max-width: 280px;
	width: 100%;
}
.section2__bloc-content h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	margin-top: 10px;
}

/** ========= section3 ========== */
.sectiom3 {
	background-color: #fff;
}
.section3__container {
	width: 100%;
	max-width: 1232px;
	padding: 150px 15px;
	margin: 0 auto;
	font-family: Cormorant;
	font-weight: 400;
}
.section3__h2 {
	width: 208px;
	font-size: 40px;
	line-height: 48px;
	margin: 0 auto;
}
.sectiom3__bloc {
	width: 100%;
	margin: 60px 0;
}
.sectiom3__bloc-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 67px;
}
.sectiom3__bloc-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section3__bloc-img {
	width: 100%;
	height: 100%;
	max-width: 270px;
	max-height: 180px;
}
.section3__bloc-img img {
	width: 100%;
	height: 100%;
}
.section3__bloc-content-text {
	max-width: 252px;
	width: 100%;
}
.sectiom3__bloc h3 {
	font-size: 24px;
	line-height: 29px;
}
.sectiom3__bloc p {
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
}
.sectiom3__bloc a {
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
}
.sectiom3__bloc a span {
	font-weight: bold;
	font-size: 15px;
}
.section3__bloc-content {
	max-width: 542px;
	width: 100%;
	display: flex;
	gap: 0 20px;
}
.section3__bloc-btn {
	width: 100%;
	display: flex;
	justify-content: center;
}
.section3__btn {
	width: 149px;
	height: 51px;
	background: transparent;
	border: 1px solid #151618;
}

/*! ======== section4 ======== */

.section4 {
	background-color: #f7f2ea;
}
.section4__container {
	width: 100%;
	max-width: 1232px;
	padding: 100px 15px;
	margin: 0 auto;
}
.section4__h2 {
	font-family: Cormorant;
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	margin-bottom: 50px;
}
.section4__bloc {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0 40px;
}
.section4__label {
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
}
.ection4__checkbox {
	width: 10px;
	height: 10px;
}

.section4__bloc-text {
	max-width: 580px;
	width: 100%;
}
.section4__bloc-text p {
	font-size: 20px;
	font-weight: 300;
	line-height: 150%;
	padding-top: 8px;
}
.section4__email-btn {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.section4__bloc-input {
	max-width: 580px;
	width: 100%;
}
.section4__email {
	width: 434px;
	background: transparent;
	border-bottom: 1px solid #b8b58b;
	font-size: 20px;
	font-weight: 300;
	line-height: 150%;
	color: #b8b58b;
	padding-top: 20px;
	margin-right: 25px;
}
.section4__email::placeholder {
	color: rgb(184, 181, 139);
}

.section4__btn {
	width: 116px;
	height: 51px;
	background: #ffffff;
	border: 1px solid #151618;
}

/*! ======== section5 ======== */
.section5 {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}
.section5__container {
	width: 100%;
	max-width: 1232px;
	padding: 150px 15px;
	margin: 0 auto;
}
.section5__h2 {
	width: 100%;
	text-align: center;
	font-family: Cormorant;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 60px;
}
.section5__bloc {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.section5__content {
	min-width: 294px;
	height: 170px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section5__content h2 {
	font-size: 30px;
	font-weight: 300;
	line-height: 41px;
	margin-bottom: 10px;
}
.section5__content p {
	margin-bottom: 32px;
}

/*! ========== footer ========= */
.footer {
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
	background-color: #f7f2ea;
}
.footer__container {
	width: 100%;
	max-width: 1232px;
	padding: 0 15px;
	padding-bottom: 10px;
	margin: 0 auto;
}
.footer__bloc {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
}
.footer__bloc-1 {
	min-width: 271px;
	display: flex;
	justify-content: space-between;
}

.footer__bloc-2 {
	max-width: 600px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__bloc-content ul li {
	margin-bottom: 20px;
}
.footer__bloc-content-2 {
	display: flex;
	justify-content: space-between;
}

.footer__bloc-content h2 {
	font-family: Cormorant;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
}
.footer__bloc-content-text-1 {
	max-width: 269px;
	width: 100%;
	margin-top: 77px;
	margin-bottom: 20px;
	font-style: italic;

}
.footer__bloc-content-text-2 {
	max-width: 269px;
	width: 100%;
	margin-bottom: 20px;
}
.footer__bloc-content-text-12 {
	width: 129px;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	margin-bottom: 50px;
}
.footer h2 {
	margin-bottom: 50px;
}
.footer__logo-contact {
	display: flex;
	align-items: flex-end;
	margin-bottom: 39px;
}

.footer__logo {
	width: 57px;
	margin-right: 41px;
}
.footer__logo img {
	width: 100%;
	height: 100%;
}
.footer__mail-tel {
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer__mail-tel a {
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
}
.footer__mail-tel a img {
	margin-right: 10px;
}
.footer__icon {
	display: flex;
	justify-content: flex-end;
}
.footer__icon a {
	margin-left: 20px;
}
.footor__bottom {
	display: flex;
	margin-top: 100px;
}
.footer__tealuxe {
	width: 118px;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}
.foottr_pay-icon {
	width: 156px;
	display: flex;
	justify-content: space-between;
	margin-left: 31px;
}
/*! ========== adaptiv 1000px ============= */

@media screen and (max-width: 1190px) {
	/* section2 */
	.section2__bloc-content.nane {
		display: none;
	}
}
@media screen and (max-width: 1000px) {
	.header {
		height: 165px;
	}
	.header__container {
		padding: 0 10px;
	}

	.header__icon {
		grid-template-columns: 30px 50px 22px;
	}
	.header__bottom {
		margin-top: 165px;
	}
	/* section2 */
	.section2__bloc-content.nane {
		display: none;
	}
	/* section3 */
	.sectiom3__bloc-1 {
		margin-bottom: 30px;
	}
	/* section4 */
	.section4__h2 {
		text-align: center;
	}
	.section4__bloc {
		width: 100%;
		flex-wrap: wrap;
	}
	.section4__bloc-text {
		max-width: 780px;
		width: 100%;
		margin: 0 auto;
	}
	.section4__bloc-text p {
		text-align: center;
	}
	.section4__bloc-input {
		margin: 0 auto;
		margin-top: 60px;
	}
	/* section5 */
	.section5__bloc {
		gap: 31.5px 49px;
		justify-content: space-around;
	}
	.footer__bloc-content-text-1 {
		margin-top: 0;
	}
		/* footer */
		.footer__bloc-2 {
			justify-content: flex-end;
		}
}
/*! ========== adaptiv 800px ============= */

@media screen and (max-width: 800px) {
	.header__burger {
		display: block;
	}
	.header__nav-menu {
		display: none;
	}
	.header__logo {
		margin-right: 0;
		margin-left: 70px;
	}
	.section2__bloc-content {
		max-width: 220px;
		width: 100%;
	}

}

/*! ========== adaptiv 770px ============= */
@media screen and (max-width: 770px) {
	.section1__bloc-tea {
		flex-wrap: wrap;
	}
	.section1-tea {
		margin: 0 auto;
	}
	/* section2 */
	.section2__bloc-content.nane {
		display: block;
	}
	.section2__bloc {
		flex-wrap: wrap;
	}
	.section3__bloc-content:first-child {
		margin-left: 64px;
	}
	.section3__bloc-content:last-child {
		margin-left: 162px;
	}

	.sectiom3__bloc-1,
	.sectiom3__bloc-2 {
		flex-wrap: wrap;
		gap: 30px 0;
	}
	/* footer */
	.footer__bloc {
		flex-wrap: wrap;
	}
	.footer__bloc-content-text-1 ,
	.footer__bloc-content-text-2 {
		max-width: 100%;
	}
	.footer__bloc-2 {
		width: 100%;
	}
	.footer__bloc-content {
		max-width: 100%;
	}
}

/*! ========== adaptiv 480px ============= */
@media screen and (max-width: 480px) {
	.header {
		height: 76px;
	}
	.header__burger-menu {
		top: 0;
		left: 30px;
	}
	.header__logo {
		width: 39px;
		height: 56px;
		margin-right: 0;
		margin-left: 50px;
	}
	.header__bottom-h1 {
		font-size: 40px;
		line-height: 48px;
	}
	.header__bottom-text {
		max-width: 450px;
	}
	.header__bottom {
		margin-top: 76px;
	}
	/* section1 */
	.section1-tea {
		max-width: 140px;
	}
	.section1_p {
		font-size: 16px;
		line-height: 22px;
	}
	.section1_p {
		font-size: 16px;
		line-height: 22px;
	}
	.section3__bloc-content:first-child {
		margin-left: 0;
	}
	.section3__bloc-content:last-child {
		margin-left: 0;
	}
	/* section4 */
	.section4__email {
		width: 324px;
	}
	.section4__bloc-text {
		font-size: 13px;
		font-weight: 300;
		line-height: 18px;
	}
	/* footer */
	.footer__bloc {
		flex-wrap: wrap;
	}
	.footer__bloc-content {
		width: 100%;
	}
}
/*! ========== adaptiv 360px ============= */
@media screen and (max-width: 360px) {
	.header__burger-menu {
		top: 0;
		left: 0;
	}
	.header__bottom-h1 {
		font-size: 24px;
		line-height: 29px;
	}
	.header__bottom-text {
		font-size: 13px;
		font-weight: 300;
		line-height: 18px;
	}
	/* section1 */

	.section1_h2 {
		font-size: 24px;
		line-height: 29px;
	}

	/* section2 */
	.section2__h2 {
		font-size: 24px;
		line-height: 29px;
	}
	.section2__bloc-content.nane,
	.section2__bloc-content.nane1 {
		display: none;
	}
	/* section3 */
	.section3__bloc-content {
		flex-direction: column;
	}
	.sectiom3__bloc-2 {
		display: none;
	}
	/* section4 */
	.section4__h2 {
		font-size: 24px;
		line-height: 29px;
	}
	/* section5 */
	.section5 {
		font-size: 10px;
		font-weight: 400;
		line-height: 14px;
	}
	.section5__h2 {
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
	}
	.section5__container h2 {
		font-size: 20px;
		font-weight: 300;
		line-height: 150%;
	}
	.section5__content p {
		text-transform: uppercase;
	}
}
